body {
	text-align: center;
	margin: auto;
	align-items: center;
}

p {
	margin: auto;
}

table, th, td {
	margin: 10px 0;
	border: solid 1px #333;
	padding: 2px 4px;
	font: 15px Verdana;
}

th {
	font-weight: bold;
}

.found {
	opacity: 1;
}

.not-found {
	opacity: 1;
}


#search {
	margin: 50px;
	width: 600px;
	height:30px;
	padding: 0;
	font-size: 17px;
}

#submit {

	background: #1594e5;
	color: #fff;
	font-family: all;
	display: block;
	width: 140px;
	font-size: 24px;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	margin: 20px auto;
	cursor: pointer;
}

